/* creating css variable */
:root {
  --w: 150px;
  --h: 4rem;
  --b-r: 20px;
  --pt: pointer;
}
body {
  background: black;
}
.element-container {
  display: grid;
  grid-template-rows: repeat(2);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  text-align: center;
  font-size: 150px;
  margin: 0;
  color: cyan;
}
.btn-container {
  display: flex;
  /* grid-template-rows: repeat(3); */

  gap: 2rem;
}

.btn-increase,
.btn-decrease {
  width: var(--w);
  height: var(--h);
  border-radius: var(--b-r);
  border: none;
  background: blue;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  cursor: var(--pt);
}
.btn-reset {
  width: var(--w);
  height: var(--h);
  border-radius: var(--b-r);
  background: red;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  transition: none;
  border: none;
  cursor: var(--pt);
}
.btn-decrease:active {
  background: #0e9700;
}
.btn-increase:active {
  background: #0e9700;
}
.btn-reset:active {
  background: rgb(175, 32, 32);
}
@media only screen and (width: 500px) {
  .btn-container {
    display: grid;
  }
}
